.vspace-top {
    margin-top: 30px;
}

.cardhead-bg {
    background-color: rgb(255, 255, 255);
}

.jum-shadow {
    -moz-box-shadow: 2px 2px 6px #9C9C9C;
    -webkit-box-shadow: 2px 2px 6px #9C9C9C;
    box-shadow: 2px 2px 6px #9C9C9C;
}

.jumbotron {
    background-image: url("../img/page_img/liu_duck1.png");
    background-repeat: no-repeat;
    background-position: 70% 100%;
}

.vspace-top-left {
    margin-top: 25px;
    margin-left: 25px;
}

.vspace-top-lite {
    margin-top: 10px;
}

.vspace-minitop {
    margin-top: 20px;
}

.vspace-top-large {
    margin-top: 50px;
}

.paper-title {
    margin-top: 8px;
    font-weight: bold;
    color: gray;
    font-size: larger;
}

.paper-authors {
    font-style: italic;
}

.paper-pub {
    font-weight: bold;
    color: gray;
    font-style: italic;
}
